* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
.container {
  margin-top: -1rem;
  text-align: center;
}
  
.site-title {
  font-size: 2rem;
}

.row {
  display: flex;
}

.column {
  float: left;
  width: 50%;
  flex: 50%;
}

.title {
  padding-top: 200px;
}

.footer {
  padding-bottom: 5rem;
}
