  .projects-background {
    margin-top: 4.5rem;
    background-image: linear-gradient(to bottom, #CB997E, #FFE8D6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
  }

  .project-title {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    color: #FFE8D6;
  }

  .project-row {
    display: flex;
    margin-top: 2rem;
  }
  
  .gui-project-text {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border-radius: 10px;
    width: 90%;
    height: 275px;
    background-color: #FFE8D6;
    transition: linear all 0.4s;
    cursor: pointer;
    color: #CB997E;
    padding-right: 1rem;
    padding-top: 0.25rem;
    margin-top: 3.5rem;
    margin-left: 4rem;
    font-size: 20px;
  }

  .robot-project-text {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border-radius: 10px;
    width: 90%;
    height: 260px;
    background-color: #FFE8D6;
    transition: linear all 0.4s;
    cursor: pointer;
    color: #CB997E;
    padding-right: 1rem;
    padding-top: 0.25rem;
    margin-top: 2.75rem;
    margin-left: 4rem;
    font-size: 20px;
  }

  .traffic-project-text {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border-radius: 10px;
    width: 90%;
    height: 210px;
    background-color: #FFE8D6;
    transition: linear all 0.4s;
    cursor: pointer;
    color: #CB997E;
    padding-right: 1rem;
    padding-top: 0.25rem;
    margin-top: 4rem;
    margin-left: 4rem;
    font-size: 20px;
  }

  .rover-project-text {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border-radius: 10px;
    width: 90%;
    height: 260px;
    background-color: #FFE8D6;
    transition: linear all 0.4s;
    cursor: pointer;
    color: #CB997E;
    padding-right: 1rem;
    padding-top: 0.25rem;
    margin-top: 2.5rem;
    margin-left: 4rem;
    font-size: 20px;
  }

  .bar-project-text {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border-radius: 10px;
    width: 90%;
    height: 210px;
    background-color: #FFE8D6;
    transition: linear all 0.4s;
    cursor: pointer;
    color: #CB997E;
    padding-right: 1rem;
    padding-top: 0.25rem;
    margin-top: 4rem;
    margin-left: 4rem;
    font-size: 20px;
  }

  .kettle-project-text {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border-radius: 10px;
    width: 90%;
    height: 210px;
    background-color: #FFE8D6;
    transition: linear all 0.4s;
    cursor: pointer;
    color: #CB997E;
    padding-right: 1rem;
    padding-top: 0.25rem;
    margin-top: 4rem;
    margin-left: 4rem;
    font-size: 20px;
  }

  .toolstand-project-text {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border-radius: 10px;
    width: 90%;
    height: 230px;
    background-color: #FFE8D6;
    transition: linear all 0.4s;
    cursor: pointer;
    color: #CB997E;
    padding-right: 1rem;
    padding-top: 0.25rem;
    margin-top: 4rem;
    margin-left: 4rem;
    font-size: 20px;
  }

  .list-gap {
    padding-top: 1rem;
  }

 
  .filler {
    color: transparent;
  }